body{
    background-color: #ffffff ;
}

.glavni_naslov{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: black;
    padding: 10px;

}

.opis{
    margin: auto;
    box-sizing: border-box;
    display: inline-block;
    padding: 20px;
    color: black;
}

.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: rgba(145, 150, 145, 0.342);
    box-shadow: 10px 10px rgba(68, 67, 67, 0.116);
    padding: 10px;
}

.paragraf{
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.slike{
    width: 350px;
    height: 350px;
    padding-left: 20px;
    padding-bottom: 30px;

}

.slike2{
    width: 600px;
    height: 300px;
    padding-left: 20px;
    padding-bottom: 30px;
}

.footer{
    position:absolute;
    border: rgb(107, 100, 100);
    border-style: ridge;
    height:60px;
    width:100%;
    bottom:0;
}

.footer1{
    position:absolute;
    border: rgb(107, 100, 100);
    border-style: ridge;
    height:60px;
    width:100%;
}

.video{
    padding-left: 20px;
}